/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    
    header, footer{
        display: none;
    }
    
    .nav-menulist{
        display: none;
    }
    
     .nav-menulist a{
        font-size: 2em;
    }

    .dropdown{
        display:inline-block;
    }
    
    .lecture-exit{
        display:inline-block;
        visibility:visible;
    }
    
    #content h2{
        font-size: 2.2em;
    }
    
    #content h3{
        font-size: 1.8em;
    }

    #content p, ul li, ol li, .code-syntax{
        font-size: 1.5em;
        
    }

    
}