/*
    style.css
*/


* {
    box-sizing: border-box;
}

/* ------ HTML Selectors ------ */
header {
    position: relative;
    height: 200px;
    background-color: aqua;
}

nav {
    position: absolute;
    top: 80px;
    height: 100px;
    width: 100%;
    background-color: black;
}

h1{
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

main {
    position: relative;
    min-height: calc(100vh - 300px);
    background-color: #f3f3f3;
}

footer {
    height: 100px;
    background-color: chocolate;
}

/* ------ Class Selectors ------ */

.lecture-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 400px;
    background-color: #f3f3f3;
    padding: 35px;
    min-width: 1180px;
}

.lecture {
    position: relative;
    margin: 0px 20px;
    float: left;
    height: 330px;
    width: 330px;
    -webkit-box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    -moz-box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    
}

.lecture h2{
    position: absolute;
    top: 175px;
    margin-left: 25px;
}

.lecture ul{
    list-style-type: none;    
    position: absolute;
    top: 235px;
}

.lecture li{
    font-size: .9em;
}

.lecture li, a{
    color: #000;
    text-decoration: none;    
}


.lecture:hover{
    opacity: .7;
}

/* ------ ID's Selectors ------ */
