/*
    style.css
*/


* {
    box-sizing: border-box;
}

/* ------ HTML Selectors ------ */
header {
    position: relative;
    height: 200px;
    /*background-color: aqua;*/
}

nav {
    position: absolute;
    width: 100%;
    background:rgba(4,78,140,1);
}

h1{
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

main {
    position: relative;
    min-height: calc(100vh - 300px);
    background-color: #f3f3f3;
}

footer {
    height: 100px;
    background-color: chocolate;
}

/* ------ Class Selectors ------ */

/* ------ Header / Navigation Section - Beginnig ------ */

/* ------ Header ------ */
div[class^="header-"]{
    display: inline-block;
    vertical-align: top;
    margin-bottom: -1px;
}

.header-logo{
    text-align: center;
    width: 10%;
    padding: 1em;
    font-size: 1.5em;
    background-color:rgba(16, 97, 166, 1);
    color: white;
    font-weight: bolder;
}

.header-arrow{
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 39px 0 39px 20px;
    border-color: transparent transparent transparent rgba(16, 97, 166, 1);
    margin-left: -5px;
}

.header-tile{
    text-align: center;
    width: 76%;
    padding: 1em;
    font-size: 1.5em;    
}

.header-webComponents img{
    display: block;
    margin: 0 auto;    
}

/* ------ Navigation ------ */
.nav-menu{
    margin: auto;
    text-align: center;
}


.nav-menulist{
    display: inline-block;
    padding: 20px 70px;
    margin: 0 -3px;
}

.nav-menulist:hover{
    background-color:rgba(16, 97, 166, 1);
}
    

.nav-menulist.disabled{
   pointer-events: none;
   cursor: default;
}

.nav-menulist.currentPage{
    background-color:rgba(16, 97, 166, 1);
}

.nav-menulist a{
    text-decoration:none;
}

.nav-menulist a:link{
    color: white;
}

.nav-menulist a:visited{
    color: white;
}

.nav-menulist a:hover{}

/* ------ Header / Navigation Section - End ------ */


.lecture-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 400px;
    background-color: #f3f3f3;
    padding: 35px;
    min-width: 1180px;
}

.lecture {
    position: relative;
    margin: 0px 20px;
    float: left;
    height: 330px;
    width: 330px;
    -webkit-box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    -moz-box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    
}

.lecture h2{
    position: absolute;
    top: 175px;
    margin-left: 25px;
}

.lecture ul{
    list-style-type: none;    
    position: absolute;
    top: 235px;
}

.lecture li{
    font-size: .9em;
}

.lecture li, a{
    color: #000;
    text-decoration: none;    
}


.lecture:hover{
    opacity: .7;
}


/* Footer - by Paulo Leao*/

.footer-container *{
    color: white;
}


.footer-container{
    width: 100%;
    background:rgba(4,78,140,1);
        text-align: center;
}

.footer-social-network{
    display: inline-block;


}

.footer-menu{
    display: inline-block;
}

.footer-menulist{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.footer-copyright{
    padding: 10px;
}

/*Sprite Configuration*/
.social-icons {
    background-image:url(/assets/images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align:middle;
}

.social-header{
    display: inline-block;
    background-image:none;
}

.facebook {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.rss {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.twitter {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}




/* ------ ID's Selectors ------ */
