/*
    style.css
*/


* {
    box-sizing: border-box;
}

/* ------ HTML Selectors ------ */

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

header {
    height: 79px;
    min-width: 1180px;
}

nav {
    background-color: #044E8C;
    text-align: center;
    width: 100%;
}

nav ul li a{
    display:block;
    padding: 20px 50px;
}

h1{
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2F8EED;
}

main {
    min-height: calc(100vh - 236px);
    background-color: #f3f3f3;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

section a {
    color: #2F8EED;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

footer {
    position: relative;
    height: 100px;
}

/* ------ Class Selectors ------ */

/* ------ Header / Navigation Section - Beginnig ------ */

/* ------ Header ------ */
div[class^="header-"] {
    display: inline-block;
    vertical-align: top;
}

.header-logo {
    text-align: center;
    width: 10%;
    padding: 1.2em;
    font-size: 1.5em;
    background-color: #1061A6;
    color: #FFFFFF;
    font-weight: bolder;
}

.header-arrow {
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 39px 0 39px 20px;
    border-color: transparent transparent transparent rgba(16, 97, 166, 1);
    margin-left: -5px;
}

.header-tile {
    text-align: center;
    width: 73%;
    padding: 20px 0px;
    font-size: 1.8em;
    color: #044E8C;
}

.header-webComponents img {
    display: block;
    padding: 2px 0px;
    margin: 0 auto;    
}

/* ------ Navigation ------ */

.nav-alternative {
    display: none;
}

/* ul */
.nav-menu{
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* li */
.nav-menulist {
    display: inline-block;
}

.nav-menulist:hover {
    background-color: #0263B5;
}
    
.nav-menulist.disabled {
   cursor: default;
}

.nav-menulist.currentPage {
    background-color: #0263B5;
}

.nav-menulist a {
    text-decoration:none;
}

.nav-menulist a:link {
    color: #FFFFFF;
}

.nav-menulist a:visited {
    color: #FFFFFF;
}

.nav-menulist a:hover{}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: #0263B5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 40px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #0974CE;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.lecture-exit{
    visibility: hidden;
}


/* ------ Header / Navigation Section - End ------ */


.lecture-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 400px;
    background-color: #f3f3f3;
    padding: 35px;
    min-width: 1180px;
}

.lecture {
    position: relative;
    margin: 0px 20px;
    float: left;
    height: 330px;
    width: 330px;
    -webkit-box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    -moz-box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    box-shadow: 10px 10px 16px -6px rgba(125,125,125,1);
    
}

.lecture h2 {
    position: absolute;
    top: 175px;
    margin-left: 25px;
}

.lecture ul {
    list-style-type: none;    
    position: absolute;
    top: 235px;
}

.lecture li {
    font-size: .9em;
}

.lecture li, a {
    color: #000;
    text-decoration: none;    
}

.lecture-content, .exercise-content {
    background-color: #FFFFFF;
}

/* Coding style */

.code-syntax {
    background-color: #F3F3F3;                
    padding: 8px;
} 

.code-tag {
    color: #A52A2A;
}

.code-property {
    color: #FF004F;
}            

.code-value {
    color: #0000CD;;
}

.code-comment {
    color: #666666;
}


/* About - by Paulo Leao*/

.about {
    width: 80%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.about-course-goals > li {
    padding: 4px 0;
}

.about-course-outcomes > li {
    padding: 4px 0;
}

.about-evaluation-table {
    min-width: 600px;
}

.about-evaluation-table-header {
    min-width: 200px;
    margin: 0px;
}

.about-evaluation-table-header > th {
    text-align: center;
    background-color: #1061A6;
    color: #FFFFFF;
    padding: 20px 0;
}

.about-evaluation-table-datarow > td {
    padding: 10px 30px;
}

/* Footer - by Paulo Leao*/

.footer-container *{
    color: #FFFFFF;
}


.footer-container{
    width: 100%;
    background-color: #044E8C;
    text-align: center;
}

.footer-social-network {
    display: inline-block;
}

.footer-menu {
    display: inline-block;
}

.footer-menulist {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.footer-menulist a:hover {
    color: #388ED6;
}

.footer-copyright{
    padding: 10px;
}

/*Sprite Configuration*/
.social-icons {
    background-image: url(/students/bsadoway/final/assets/images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.social-header{
    display: inline-block;
    background-image: none;
}

.facebook {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.rss {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.twitter {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

/* ------ Profile style ------*/


.ir-header {
    text-align: center;
}

.profiles {
    list-style: none;
    min-width: 1180px;
}

figure {
    margin: 0px;
}

.profiles li {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.profiles li img{
    border-radius: 50%;
    box-shadow: 10px 10px 21px -12px rgba(0,0,0,0.75);
}

.profiles figcaption {
    text-align: center;
}

.worked-content-list li {
    float: none;
}

/* ------ ID's Selectors ------ */

#introduction-div {
    height: 600px;
}

#rationale-div {
    height: 600px;
}